@model Application.MVC.Models.WaybillViewModel

@{
    ViewBag.Title = "Waybills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>New Waybill</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="~/Content/assets//css/normalize.css">
    <link rel="stylesheet" href="~/Content/assets//css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/assets//css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/assets//css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/assets//css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/assets//css/cs-skin-elastic.css">
    <!-- <link rel="stylesheet" href="~/Content/assets//css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/Content/assets//scss/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    @*<title>jQuery UI Datepicker - Default functionality</title>*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#my_custom_id").chosen();
        });
    </script>
</head>
<body>

    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Triton Express</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Home</li>
                        <li><a href="#">Waybills</a></li>
                        <li><a href="#">New Waybill</a></li>

                    </ol>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <strong>Waybill Details</strong>
                </div>
                @Html.HiddenFor(model => model.WaybillId)
                <div class="card-body card-block">
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Total Weight</label></div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(model => model.Waybill_Total_weight, new { htmlAttributes = new { @class = "form-control", placeholder = "Name" } })
                            @Html.ValidationMessageFor(model => model.Waybill_Total_weight, "", new { @class = "text-danger" })
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3"><label for="text-input" class=" form-control-label">Total Parcels</label></div>
                        <div class="col-12 col-md-9">
                            @Html.TextBoxFor(model => model.Waybil_Total_Parcels_Allocated, new { htmlAttributes = new { @class = "form-control", placeholder = "Surname" } })
                            @Html.ValidationMessageFor(model => model.Waybil_Total_Parcels_Allocated, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    @if (ViewBag.n == null)
                    {
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Vehicle</label></div>
                            <div class="col-12 col-md-9">
                                @Html.DropDownListFor(m => m.Vehicle_Registration_Number, (IEnumerable<SelectListItem>)ViewBag.listAuthers, "---Select---", new { @class = "form-control", id = "my_custom_id" })
                                @Html.ValidationMessageFor(model => model.Vehicle_Registration_Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row form-group">
                            <div class="col col-md-3"><label for="text-input" class=" form-control-label">Vehicle</label></div>
                            <div class="col-12 col-md-9">
                                @Html.TextBoxFor(model => model.Vehicle_Number_Plate, new { @class = "form-control", Value = ViewBag.n, @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.Vehicle_Registration_Number, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="card-footer" align="right">
                <a href="@Url.Action("Index","Waybill")" class="btn btn-danger">Cancel</a>
                <input type="submit" value="Submit " class="btn btn-primary btn-md" />
            </div>
        </div>
    }



</body>
</html>
@section scripts{
    @Scripts.Render("~/bundles/jqueryval");



}


